@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {

  overflow-x: hidden;
  font-family: 'Amatic SC', cursive;
  /* גופן כתב  בעברית */
  display: grid;
  grid-template-rows: 100px 2fr 1fr;
  /* header + article + footer */
  grid-template-columns: 1fr 1fr;
  /* 3 עמודות */
  height: 200vh;
  /* margin: 0; */
  padding: 0;
  margin: auto;
  /* ללא רווח פנימי */
  position: relative;




  grid-template-areas:

    "header header "
    "article article "
    "footer footer ";
}

header {
  grid-area: header;
  height: 100%;
  /* גובה מתאים ל-header */
  margin: 0;
  padding: 0;
  border: none;
  margin-inline-start: 5px;


  background-color: rgba(11, 46, 152, 0.6);

  z-index: 10;
  /* קובע שהקישורים יהיו מעל כל תוכן אחר */


}

article {
  grid-area: article;
  /* background-color: rgb(255, 255, 255); */
  margin: 0;
  margin-top: 60px;
  margin-right: 30px;
  text-align: center;
  /* justify-content: center; */
  /* align-items: center; */
}


.artEverybady {
  display: flex;
  flex-direction: row;
  padding: 30px;
  gap: 150px;
  width: 100%;

  max-width: 1200px;
  justify-content: center;
  /* מרכז את התמונה אופקית */
  align-items: center;
  /* מרכז את התמונה אנכית */
  height: 100vh;
  /* גובה מלא של הדפדפן */
  /* background-color: #33333382; צבע רקע (אפור בהיר) */
  background-blend-mode: overlay;
  /* background-image: url(../image/V.jpg); */
  background-size: cover;
  z-index: 0;

}

.CONTACT1,
.CONTACT2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  z-index: 4;
  position: relative;
  z-index: 0;
}

h1 {
  margin-right: 220px;
  font-size: xx-large;
  margin-bottom: -32px;
}

h2 {
  margin-right: 220px;
  color: #ffde59;
  font-size: xx-large;
  margin-bottom: -5px;
}

h3 {
  margin-right: 220px;
  color: #000000;
  font-size: xx-large;
  margin-bottom: -32px;
}

form {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* max-width: 1000px; */
  width: 100%;
  margin-right: 80px;
  font-size: x-large;
  /* background-color: #ffde59; */
  border: 1px solid #000000;
  /* z-index: 10;
  position: relative; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;

}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
  width: 100%;
}

.achbar {
  margin-right: 400px;
  width: 420px;
  position: absolute;
  /* מיקום מוחלט */
  z-index: 2;
  margin-bottom: 500px;
  /* animation: moveArrow 1.5s infinite; אנימציה */
  animation: moveArrow 3s infinite;
  /* אנימציה */
  transform: rotate(100deg);
  /* סיבוב קל */
}

@keyframes moveArrow {
  0% {
    transform: translateY(0);
  }

  /* מתחיל באותה מיקום */
  50% {
    transform: translateY(-200px);
  }

  /* נע למטה */
  100% {
    transform: translateY(0);
  }

  /* חזרה לאותו מקום */
}

.achbar2 {
  margin-left: 950px;
  width: 350px;
  position: absolute;
  /* מיקום מוחלט */
  z-index: 2;
  /* animation: moveArrow 1.5s infinite; אנימציה */
  animation: moveArrow 3s infinite;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: -10px;
}

input[type="submit"] {
  background-color: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 15px;
  font-size: 23px;
  border-radius: 5px;
  font-family: 'Amatic SC', cursive;
}

input[type="submit"]:hover {
  background-color: #ffde59;
  color: #000000;
}

textarea {
  resize: vertical;
  height: 100px;
}

/* table {
  /* border-collapse: collapse; */
/* border-collapse: separate; /* שינוי ל-separate */
/* border-spacing: 0; כדי להבטיח שאין מרווחים בין התאים */
/* width: 100%; */
/* max-width: 600px; */
/* background-color: #fffefe; */
/* box-shadow: 0 0 10px rgba(94, 195, 12, 0.1); */
/* border-radius: 10px; */
/* border: 3px solid #000000; */
/* overflow: hidden; */
/* font-size: 28px;
  margin-right: 100px; */
/* background-color: #ffde59; */
/* border-style: solid;
  z-index: 2;
  position: relative;
  background-color: rgba(255, 255, 255,0.6);
} */
/* table {
   border-collapse: separate; /* שימוש ב-separate */
/* border-spacing: 0; ביטול הרווחים בין התאים */
/* width: 100%; 
    box-shadow: 0 0 10px rgba(94, 195, 12, 0.1);  */
/* border-radius: 10px; עיגול מסגרת הטבלה */
/* border: 0.6px solid #000000;
    font-size: 28px;
    margin-right: 100px;
    background-color: rgba(255, 255, 255, 0.6); 
    position: relative; 
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
   } */
table {
  border-collapse: separate;
  /* שימוש ב-separate */
  border-spacing: 0;
  /* ביטול הרווחים בין התאים */
  width: 100%;
  box-shadow: 0 0 10px rgba(94, 195, 12, 0.1);
  border-radius: 10px;
  /* עיגול מסגרת הטבלה */
  border: 0.6px solid #000000;
  font-size: 28px;
  margin-right: 100px;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  z-index: 1;
  /* שכבת מתחת לתמונה */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

/* th,
td {
  padding: 9.5px;
  text-align: center;
  border: 3px solid #000000;
} */
th,
td {
  padding: 10.4px;
  text-align: center;
  border: 0.4px solid #000000;
  /* גבול פנימי לתאים */
}

table th:first-child {
  border-top-left-radius: 10px;
  /* עיגול פינה שמאלית עליונה */
}

table th:last-child {
  border-top-right-radius: 10px;
  /* עיגול פינה ימנית עליונה */
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
  /* עיגול פינה שמאלית תחתונה */
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
  /* עיגול פינה ימנית תחתונה */
}

/* td.square {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #ffde59;
}

td.square:hover {
  background-color: #fee375;
} */
/* . */
input[type="checkbox"] {
  display: none;
}

.table-cell {
  width: 100px;
  height: 50px;
  /* background-color: #ffffff;  */
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  font-size: 22px;
  /**/
  justify-content: center;
  display: flex;
  align-items: center;
}

/* input[type="checkbox"]:checked + .table-cell 
  { 
    background-color: #ffde59; 
  } */

input[type="checkbox"]+.table-cell {
  border: none;
}

td.long {
  width: 100%;
}


@keyframes moveArrow {

  0%,
  100% {
    transform: translateX(0) rotate(-10deg);
    /* מצב ההתחלה והסיום של האנימציה */
  }

  50% {
    transform: translateX(10px) rotate(-10deg);
    /* מצב האמצע של האנימציה */
  }
}

footer {
  grid-area: footer;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 10px;
  /* רווח פנימי */
  text-align: center;
  /* למרכז טקסט */
  position: relative;
  width: 100%;
  height: 440px;
  margin-top: 100px;

}

.footeverybady {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  color: white;
  margin: 0%;
  justify-content: center;
  /* למקם את התוכן במרכז רוחבי */
  align-items: center;
  /* למקם את התוכן במרכז אנכי */



}

.footeverybady video {
  width: 100%;
  height: 104%;
  /* height: 100%; הסרטון יתפרס על כל גובה ורוחב הפוטר */
  object-fit: cover;
  /* מוודא שהסרטון יכסה את השטח ללא עיוות */
  position: absolute;
  /* top: 0; */
  /* top: -1055px; */
  left: 0;
  z-index: 0;
  margin: 0;
}

.footCol {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  /* top: 0; */
  text-align: center;
  position: relative;
  z-index: 1;
  /* האלמנטים יהיו מעל הסרטון */
  color: white;
  width: 100%;
  /* לוודא שהרוחב מתפשט על כל הרוחב של האלמנט */
  height: 410px;
  /* height: 200vh; */
  /* margin-top: -3px; */
  /* margin-bottom: 0px; */
  margin-top: 0;
}

.orderYacth {
  font-size: xx-large;
  margin-top: 60px;
  margin-bottom: 60px;
  text-decoration: none;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 5px;
  box-sizing: 50px;
  padding: 20px;
}

.orderYacth:hover {
  /* background-color: transparent;
color: #ffffff; */
  transform: scale(1.1);
}


.footeralllinks {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin: 0;
  /* הסרת שוליים חיצוניים */
  padding: 0;
  /* הסרת שוליים פנימיים */
  justify-content: space-between;
  /* רווח שווה בין העמודות */
  align-items: stretch;
  /* כל העמודות יימתחו לגובה שווה */


}

.footer-links {
  display: flex;
  flex: 1;
  min-width: 250px;
  /* להבטיח שהאורך של כל עמודה יהיה לפחות 250px */
  flex-direction: column;
  gap: 5px;
  padding: 0;
  /* הסרת רווח פנימי */
  margin: 0;
  /* הסרת שוליים */
  background-color: rgba(0, 0, 0, 0.5);
  /* רקע כהה עם שקיפות עבור כל קבוצה של קישורים */
  align-items: flex-start;
  /* למרכז את הקישורים אנכית */
  /* font-size: large; */
  /* justify-content: space-between; קישורים יתפרשו בין ההתחלה לסוף */
  box-sizing: border-box;
  /* להבטיח ששוליים פנימיים לא ישפיעו על הגודל */


}

.footer-links:last-child {
  justify-content: space-between;
  /* לוודא שהפסקה האחרונה ממורכזת */
}

.footer-links h1,
.footer-links img {
  margin: 0;
  /* הסרת שוליים חיצוניים */
  padding: 0;
  /* הסרת רווח פנימי */
}

.footer-links a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 5px 0;
  font-size: x-large;
  margin-right: 180px;
  margin-top: 30px;

}

.footer-links a:hover {
  /* text-decoration: underline; */
  transform: scale(1.1);
}

/* CSS */

.footer-links h2 {
  text-align: center;
  color: #ffffff;
  /* margin-bottom: 20px; */
  margin-top: 20px;
  font-size: xx-large;
  margin-right: 180px;
}

.footer-links h1 {
  margin: 0;
  /* צמצום השוליים העליונים והתחתונים של הכותרת */
  font-size: xx-large;
  margin-right: 180px;
  margin-top: 20px;
}

.footer-links p {
  margin: 0px 0;
  /* צמצום השוליים העליונים והתחתונים של הפסקה */
  /* line-height: 1.5;גובה שורה לפסקאות */
  /* margin-bottom: 50px; */
  font-size: x-large;
  /* margin-bottom: 300px; */
  margin-left: 15px;
}


.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: x-large;
  margin-right: 180px;

}

.contact-item2 {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: x-large;
  margin-right: 150px;

}

.contact-item i {
  font-size: 20px;

  color: #ffffff;

}

.contact-item span {
  color: #ffffff;
  margin-right: 10px;
  /* רווח בין הסמל לכתובת או הטלפון */
}

.contact-item2 span {
  color: #ffffff;
  margin-right: 20px;
  /* רווח בין הסמל לכתובת או הטלפון */
}

.social-icons {
  display: flex;
  justify-content: center;
  /* gap: -5000px;
right: -300px; */
  gap: 10px;
  /* מרווח תקין בין האייקונים */
  position: relative;
  /* לאפשר ל-right לפעול */
  /* right: 300px; מקם כראוי */
  left: 160px;
}

.social-icon {
  font-size: 10px;
  color: #000000;
  transition: color 0.3s;
  margin: 10px;
  /* מרווח תקין סביב האייקונים */
}


.social-icon:hover {
  color: #000000;
  /* צבע פעיל */

}



.social-icon1:hover {
  color: #000000;
  /* צבע פעיל */

}




/*קישורים של כל דף-לא לגעת!*/
iframe {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
  /* z-index: 1; */
  font-family: 'Times New Roman', Times, serif;
  border: none;
  margin-bottom: 0;
  height: 100px;
  margin: 0;


}

/**/

@media(max-width:600px) {
  body {
    grid-template-columns: 10% 8fr 10%;
    grid-template-rows: 5% 8fr 15%;
    grid-template-areas:
      header
      article
      footer;
  }
}